@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 0 0% 0%;
    --background: 0 0% 100%;
  }
  
  body {
    @apply text-gray-900 bg-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}